.whatsapp {
  background-image: url('../../images/icons/whatsapp.svg');
  width: 1.5rem;
  height: 1.5rem;
}

.phone {
  background-image: url('../../images/icons/phone.svg');
  width: 1.5rem;
  height: 1.5rem;
}

.map-pin {
  background-image: url('../../images/icons/map-pin.svg');
  width: 1.5rem;
  height: 1.5rem;
}

.mail {
  background-image: url('../../images/icons/mail.svg');
  width: 1.5rem;
  height: 1.5rem;
}

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button div,
#contact ul li div {
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}
