#testimonials {
  background-color: #fff;
}

#testimonials .container {
  margin: 0;
}

#testimonials header {
  margin: 0 1.5rem 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  margin-bottom: 1.5rem;
  position: relative;
  text-indent: 1.875rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  color: var(--base-color);
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
}

#testimonials cite {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
}

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

#testimonials .swiper-pagination-bullet-active {
  background: var(--base-color);
}
