* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  --hue: 345;
  --base-color: hsl(var(--hue) 57% 53%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 40% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --header-height: 4.5rem;

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans' . sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 1.5rem;
}

img {
  width: 100%;
  max-width: 30.0625rem;
  height: auto;
}

body {
  background-color: var(--body-color);
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialised;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: antialised;
}

.logo {
  font: 700 1.875rem 'Poppins', sans-serif;
  font-size: 1.31rem;
  color: var(--title-color);
}

.logo.logo-alt span {
  color: var(--body-color);
}

.logo > span {
  color: var(--base-color);
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.divider-1 {
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 57%, 53%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
  height: 1px;
}

.divider-2 {
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 57%, 53%, 1)
  );
  height: 1px;
}

.icon.arrow-up {
  background-image: url('../images/icons/arrow-up.svg');
  width: 1.5rem;
  height: 1.5rem;
}

.back-to-top {
  background-color: var(--base-color);
  padding: 0.5rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  clip-path: circle();
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%) rotate(180deg);
  transition: 0.3s;
}

.back-to-top.show {
  visibility: visible;
  transform: translateY(0) rotate(0deg);
  opacity: 1;
}

main {
  margin-top: calc(4.5rem + 2rem);
}
